<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wawa_applications.wawa_tabor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".LinesActivity"
            android:label="@string/title_activity_buses"
            android:parentActivityName="com.wawa_applications.wawa_tabor.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wawa_applications.wawa_tabor.MainActivity" />
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="Opcje"
            android:parentActivityName=".LinesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LinesActivity" />
        </activity>

        <provider
            android:name=".data.TransportProvider"
            android:authorities="com.example.wojciechkrzywiec.wawa_tabor"
            android:exported="false"/>


        <service
            android:name=".sync.DatabaseSyncIntentService"
            android:exported="false" />


        <service
            android:name="com.wawa_applications.wawa_tabor.sync.DatabaseSyncJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">
        <intent-filter>
            <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
        </intent-filter>
        </service>
    </application>

</manifest>